apiVersion: apps/v1
kind: Deployment
metadata:
  name: jogos-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jogos
  template:
    metadata:
      labels:
        app: jogos
    spec:
      containers:
      - name: jogos
        image: z4lit0/jogos_service:latest
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: app-secrets
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: jogos-svc
spec:
  type: ClusterIP
  selector:
    app: jogos
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: jogos-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: jogos-deployment
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
